@import "tailwindcss";

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/interTight/InterTight-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: hsla(344, 43%, 34%, 1);
  --color-neutral-white: hsla(0, 0%, 98%, 1);
  --color-neutral-green: hsla(85, 35%, 32%, 1);
  --color-neutral-dark: hsla(0, 0%, 8%, 1);
  --color-border: hsl(344, 20%, 79%);
}

html {
  @apply scroll-smooth;
}

body {
  font-family: "Inter Tight", sans-serif;
  color: var(--color-neutral-dark);
  max-width: 1280px;
  margin-inline: auto;
}

h1 {
  @apply text-5xl leading-12 uppercase font-semibold md:text-[76px] md:leading-[76px] max-w-[700px];
}

h2 {
  @apply text-5xl leading-12 uppercase font-semibold md:text-[64px] md:leading-[64px];
}

.list-number {
  @apply w-[42px] h-[42px] bg-primary text-white text-xl leading-5 font-semibold flex items-center justify-center rounded-full border-[5px] border-border flex-shrink-0;
}

.description {
  @apply font-medium text-sm leading-[18px] md:text-base md:leading-[20px];
}

.light-span {
  @apply opacity-30;
}

.bold-span {
  @apply font-bold;
}
